  <section class="section" id="opis">
    <div class="wrap opis-card">
      <div class="opis-grid">
        <div>
          <h2>Opis główny</h2>
          <div class="underline"></div>
                  <div class="opis-text">
          <p>Sprzedaż bezpośrednia. Pośrednikom dziękujemy.</p>
          <p>Oferujemy przestronne mieszkanie o powierzchni 64,4 m², położone na 3. ostatnim piętrze bloku z 2013 roku. Lokal jest gotowy do zamieszkania od zaraz, ewentualnie do odświeżenia według własnego gustu.</p>
          <p><strong>Cena do negocjacji!</strong></p>
          <p>Układ i wyposażenie:</p>
          <ul>
            <li>jasny salon z wieloma punktami świetlnymi i LED RGB,</li>
            <li>aneks kuchenny z miejscem na wygodny stół jadalniany,</li>
            <li>balkon od strony południowo-zachodniej,</li>
            <li>osobna łazienka z wanną i oddzielne WC,</li>
            <li>duża szafa z lustrem w przedpokoju,</li>
            <li>klimatyzacja,</li>
            <li>meble poza kanapą i stołem oraz AGD w cenie.</li>
          </ul>
          
        </div>
        </div>

        <div class="floor-plans">
            <img src="/images/Rzut_Mieszkania.png" alt="Plan mieszkania" class="floor-plan-placeholder">
            <img src="/images/Rzut_Bloku.png" alt="" class="floor-plan-placeholder">
        </div>
      </div>
    </div>
  </section>
