  <section class="section" id="otodom">
    <div class="wrap opis-card">
      <div class="opis-grid">
        <div>
          <!-- <h2>Link do ogłoszenia OTODOM</h2> -->
          <div class="underline"></div>
        </div>
        <div class="opis-text">

          <div class="OTODOM" id="#OTODOM">
             <a href="https://www.otodom.pl/pl/oferta/mieszkanie-64-4-m-w-spokojnej-okolicy-dylewicza-pkp-siedlce-zachodnie-ID4ATvS" target="_blank" rel="noopener noreferrer">Zobacz ofertę na Otodom</a>
            <img src="/images/cover2.png" alt="OTODOM_Link" href="https://www.otodom.pl/pl/oferta/mieszkanie-64-4-m-w-spokojnej-okolicy-dylewicza-pkp-siedlce-zachodnie-ID4ATvS" target="_blank" class="OTODOM">
          </div>
        </div>
      </div>
    </div>
  </section>
